<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="A" class="pl.agh.edu.springtest.method3.A">
		<property name="element" ref="C" />
	</bean>
 
	<bean id="B" class="pl.agh.edu.springtest.elements.impl.B" />
	<bean id="C" class="pl.agh.edu.springtest.elements.impl.C" />
 
</beans>